body{
	font-family: 'Montserrat';
}

p{
	font-size: 1.1rem;
	line-height: 2;
	color: #2c7873;
}

hr{
	border: dotted #EAF6F6 6px;
	border-bottom: none;
	width: 4%;
	margin: 100px auto;
}


/* title section */

#title{
  background-color: #e1f4f3;
  /*background-color: #333333;*/
}

.title-image{
	width: 65%;
}

.title-section-image{
	text-align: left;
}

.dp-image{
	width: 14%;
	border-radius:100%;
}

.container-fluid{
	padding: 3% 15% 7%;
	text-align: center;
}

.title-heading{
	font-family: 'Archivo Black';
	font-size: 2.9rem;
	line-height: 1.5;
	color: #29a19c;
	/*color: #758184;*/
}

.title-para{
	color: #758184;
}

/* navigation bar */

.navbar{
	background-color: #bbe1fa;
	/*background-color: #f1f9f9;*/
	/*background-color: #e1f4f3;*/
	/*background-color: #e32249;*/

	padding: 1.5% 3% ;
}

.navbar-dark .navbar-nav .nav-link {
	color: #2c7873;
}

.navbar-dark .navbar-nav .nav-link:hover{
	color: #3282b8;
}

.nav-item{
	padding: 0 18px;
}

.nav-link{
	font-size: 1.2rem;
	font-family: 'Montserrat'
}

/* WORK Section */


.work-section{
	text-align: center;
	color: #347474;
	margin-bottom: 3%;
	padding: 0% 28%;
}
.work-heading{
	font-weight: bold;
}

.testimonial-image{
	width: 100%;	
	height: 700px;
}

.carousel-containers{
	position: relative;

}

.carousel-containers img {
	vertical-align: middle;
}

.carousel-containers .carousel-contents{
	position: absolute;
	bottom: 0;
  	background: rgb(0, 0, 0); /* Fallback color */
  	background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  	color: #f1f1f1;
  	top: 0px;
  	width: 100%;
}


/* Skill Section */

#skills{
	padding: 0 15%;
}

.work-heading{
	color: #347474;
	text-align: center;
}

.custom-skills{
	color: #000;
	padding: 10px;
	margin: 3px 0 5px 2px;
	border: 2px solid #adb5bd ; 
	border-radius: 10px;	
	display: inline-grid;
}

.custom-skills:hover{
	background-color: #000;
	border: 2px solid #000 ;
}

h3{
	text-transform: uppercase;
	color: #758184;
	font-weight: 500;
	font-size: 1.5rem;
	padding: 3% 0;
	font-family: 'Saira Extra Condensed', sans-serif;
}



/* Media Queries */
@media (max-width: 1000px){

	.title-section-image{
		text-align: center;
	}

	.title-image{
		margin-bottom: 10%;
	}

	.testimonial-image{
		width: 100%;	
	 	height: 400px;
	}
}

@media(max-width: 800px){
	.dp-image{
		display: none;
	}

	#website-title::before{
		content: 'TANUJ';
		color: #2c7873;
		font-size: 1.5rem;
		font-family: 'Merriweather', serif;
	}

}

@media(max-width: 500px){
	#testimonial-carousel{
		display: none;
	}
}