body{
	font-family: 'Montserrat';
}

p{
	font-size: 1.1rem;
	line-height: 2;
	color: #2c7873;
}

hr{
	border: dotted #EAF6F6 6px;
	border-bottom: none;
	width: 4%;
	margin: 100px auto;
}

a{
	color: #dc3545;
}

/* title section */

#title{
  background-color: #e1f4f3;
  /*background-color: #333333;*/
}

.title-image{
	width: 65%;
}

.title-section-image{
	text-align: left;
}

.dp-image{
	width: 14%;
	border-radius:100%;
}

.container-fluid{
	padding: 5% 15% 7%;
	text-align: center;
}

.title-heading{
	/*font-family: 'Saira Extra Condensed';*/
	font-family: 'Galada';
	/*font-weight: 0;*/
	font-size: 5rem;
	text-transform: uppercase;
	color: #655c56;
	/*color: #758184;*/
	transition: transform 0.5s;
}

.title-heading:hover{
	transform: translateX(-50px);
}

.subheading-address{
	text-transform: uppercase;
	/*font-family: 'Saira Extra Condensed';*/
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1.3rem;
	color: #758184;
}

.resume-button{
	border: 2px solid #1b262c;
	border-radius: 4px;
	font-weight: 400;
	/*background: #fff;*/
	padding: 15px;
	cursor: pointer;
	margin-top: 5%;
	font-weight: 600;
}

.resume-button:hover{
	background-color: #000;
	border: 2px solid #000;
}

.title-para{
	color: #758184;
	margin-top: 5%;
}

/* navigation bar */

.navbar{
	background-color: #bbe1fa;
	/*background-color: #f1f9f9;*/
	/*background-color: #e1f4f3;*/
	/*background-color: #e32249;*/
	padding: 1% 3% ;
}

.navbar-dark .navbar-nav .nav-link {
	color: #2c7873;
}

.navbar-dark .navbar-nav .nav-link:hover{
	color: #3282b8;
}

.nav-item{
	padding: 0 18px;
}

.nav-link{
	font-size: 1.2rem;
	font-family: 'Montserrat'
}

/* WORK Section */


.work-section{
	text-align: center;
	color: #347474;
	margin-bottom: 3%;
	padding: 0% 15%;
}

.work-heading{
	font-weight: bold;
}

.work-desc{
	padding: 0 25%;
}

.testimonial-image{
	width: 100%;
	height: 700px;
}

.carousel-containers{
	position: relative;

}

.carousel-containers img {
	vertical-align: middle;
}

.carousel-containers .carousel-contents{
	position: absolute;
	bottom: 0;
  	background: rgb(0, 0, 0); /* Fallback color */
  	background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  	color: #f1f1f1;
  	top: 0px;
  	width: 100%;
}


/* Skill Section */

#skills{
	padding: 0 15%;
}

.work-heading{
	color: #347474;
	text-align: center;
}

.custom-skills{
	color: #000;
	padding: 10px;
	margin: 3px 0 5px 2px;
	border: 2px solid #adb5bd ;
	border-radius: 10px;
	display: inline-grid;
}

.custom-skills:hover{
	background-color: #000;
	border: 2px solid #000 ;
}

.workflow-list{
	list-style-type: none;
	color: #52616b;
}

h3{
	text-transform: uppercase;
	color: #758184;
	font-weight: 500;
	font-size: 1.5rem;
	padding: 3% 0;
	font-family: 'Saira Extra Condensed', sans-serif;
}

/* Experience Section */

#experience{
	padding: 0 15%;
}

.first-row{
	transition: transform 0.5s;
	margin-top: 7%;
}

.first-row:hover{
	transform: translateX(-30px);
}

.exp-heading{
	color: #347474;
	text-align: center;
	font-weight: bold;
	margin-bottom: 3%;
}

.exp-sub-heading1{
	text-transform: uppercase;
	font-weight: bold;
	color: #000;
	font-family: 'Saira Extra Condensed', sans-serif;
}

.exp-sub-heading2{
	padding: 1% 0;
	color: #2a7886;
}

.exp-duration{
	text-align: right;
	color: red;
}

.exp-description{
	line-height: 1.5;
	color: #758184;
	text-align: justify;
	text-justify: auto;
}


/* Education section */

#education{
	padding: 0 15%;
}


/* footer */

.bottom-container{
  background-color: #bbe1fa;
  padding:50px 0 30px;
  text-align: center;
}

.icon{
	display: inline-block;
	margin: 0 20px;
}

/* Media Queries */
@media (max-width: 1000px){

	.title-section-image{
		text-align: center;
	}

	.title-image{
		margin-bottom: 10%;
	}

	.testimonial-image{
		width: 100%;
	 	height: 400px;
	}
}

@media(max-width: 800px){
	.dp-image{
		display: none;
	}

	#website-title::before{
		content: 'TANUJ';
		color: #2c7873;
		font-size: 1.5rem;
		font-family: 'Merriweather', serif;
	}

}

@media(max-width: 600px){
	#testimonial-carousel{
		display: none;
	}

	hr{
		border: dotted #EAF6F6 6px;
		border-bottom: none;
		width: 4%;
		margin: 50px auto;
	}

	.work-desc{
		text-align: justify;
		padding: 0;
		margin: 30px 0;
	}
}

@media(max-width: 550px){
	.work-heading{
		text-align: left;
	}

	.exp-heading{
		text-align: left;
	}

	.title-heading{
		font-size: 3rem;
	}
}

@media(max-width: 992px){
	.exp-duration{
		text-align: left;
	}

	.skills-list{
		/*text-align: justify;*/
	}
}
